@charset "utf-8";
/* CSS Document */

body{
	text-align: center;
}

#cover {
    background-color: #FFFFFF;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    width: 100%;
    z-index: 9000;
}

#custom {
    background-color: #FFFFFF;
    border: 1px solid black;
    left: 40%;
    position: absolute;
    top: 50%;
    width: 20%;
    z-index: 10000;
}

#custom li{
	list-style: none;
	margin-bottom:15px;
}

table{
	border-collapse: collapse;
	border-spacing: 0px;
	border: 4px inset #444;
}

.hidden{
	display:none;
}

img{
	display:block;
}

.flag{
	height: 18px;
	width: 24px;
	pointer-events:none;
}

#youRock{
	width:250px;
	height:150px;
	margin:25px auto;
}

.box{
    border: 3px outset #959595;
    width:25px;
    height: 25px;
    background-color: #dddddd;
    cursor: pointer;
}

.bomb{
	color: red;
/*	font-weight:bold;*/
	font-family: impact;
	background-color: #E9E9E9;
	border-right:1px dotted #000000;
	border-bottom:1px dotted #000000;
    width:26px;
    height: 26px;
}

.zero{
	background-color: #E9E9E9;
	border-right:1px dotted #000000;
	border-bottom:1px dotted #000000;
	width:26px;
    height: 26px;
}

.one {
	color: blue;
	background-color: #E9E9E9;
	border-right:1px dotted #000000;
	border-bottom:1px dotted #000000;
	width:26px;
    height: 26px;
}

.two {
	color: green;
	background-color: #E9E9E9;
	border-right:1px dotted #000000;
	border-bottom:1px dotted #000000;
	width:26px;
    height: 26px;
}

.three {
	color:red;	
	background-color: #E9E9E9;
	border-right:1px dotted #000000;
	border-bottom:1px dotted #000000;
	width:26px;
    height: 26px;
}

.four{
	color: purple;
	background-color: #E9E9E9;
	border-right:1px dotted #000000;
	border-bottom:1px dotted #000000;
	width:26px;
    height: 26px;
}

.five{
	color: orange;
	background-color: #E9E9E9;
	border-right:1px dotted #000000;
	border-bottom:1px dotted #000000;
	width:26px;
    height: 26px;
}

.six{
	color: brown;
	background-color: #E9E9E9;
	border-right:1px dotted #000000;
	border-bottom:1px dotted #000000;
	width:26px;
    height: 26px;
}

.seven{
	color: grey;
	background-color: #E9E9E9;
	border-right:1px dotted #000000;
	border-bottom:1px dotted #000000;
	width:26px;
    height: 26px;
}

.eight{
	color: olive;
	background-color: #E9E9E9;
	border-right:1px dotted #000000;
	border-bottom:1px dotted #000000;
	width:26px;
    height: 26px;
}

.center{
	margin-right:auto;
	margin-left:auto;
	text-align: center
/*	border: 1px solid black;*/
}

.MtopBig{
	margin-top:75px;	
}

.MtopSmall{
	margin-top: 25px;	
}

.counter {
    border: 2px inset #000000;
    border-radius: 8px 8px 8px 8px;
    display: inline-block;
    height: 25px;
    padding-right: 7px;
    text-align: right;
    width: 50px;
}

#timer{
	position: relative;
	top: 15px;
	right: 15px;
}

#flipped {
	position: relative;
	top: 15px;
	left: 15px;
}

#youSuck {
	color:red;
}

#youSuck>a {
	font-size: 25px;
}

#container {
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    padding: 25px 75px;
}

















