@charset "utf-8";
/* CSS Document */

body{
	text-align: center;
}

#cover {
    background-color: #FFFFFF;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    width: 100%;
    z-index: 9000;
}

#custom {
    background-color: #FFFFFF;
    border: 1px solid black;
    left: 40%;
    position: absolute;
    top: 50%;
    width: 20%;
    z-index: 10000;
}

#custom li{
	list-style: none;
	margin-bottom:15px;
}

table{
	/*border-collapse: collapse;
	border: 4px inset #444;*/
	padding:10px;
	border-spacing: 5px;
	background-color:#75a9FF;
	border-radius:10px;
}

table td{
	width: 18px;
	height: 18px;
	border-radius: 3px;
	font-size
}

table td:not(.box){
	background-color: #b5b5b9;
	font-size:14px;
}

table td:not(.bomb){
	font-weight:bold;
}

.hidden{
	display:none;
}

img{
	display:block;
}

.flag{
	height: 18px;
	width: 18px;
	pointer-events:none;
}

#youRock{
	width:250px;
	height:150px;
	margin:25px auto;
}

.box{
    /*border: 3px outset #959595;*/
    background-color: #80808a;
    cursor: pointer;
}

.bomb{
	color: red;
/*	font-weight:bold;*/
	font-family: impact;
}

.one {
	color: blue;
}

.two {
	color: green;
}

.three {
	color:red;	
}

.four{
	color: purple;
}

.five{
	color: orange;
}

.six{
	color: brown;
}

.seven{
	color: grey;
}

.eight{
	color: olive;
}

.center{
	margin-right:auto;
	margin-left:auto;
	text-align: center
/*	border: 1px solid black;*/
}

.MtopBig{
	margin-top:75px;	
}

.MtopSmall{
	margin-top: 25px;	
}

.counter {
    border: 2px inset #000000;
    border-radius: 8px 8px 8px 8px;
    display: inline-block;
    height: 25px;
    padding-right: 7px;
    text-align: right;
    width: 50px;
}

#timer{
	position: relative;
	top: 15px;
	right: 15px;
}

#flipped {
	position: relative;
	top: 15px;
	left: 15px;
}

#youSuck {
	color:red;
}

#youSuck>a {
	font-size: 25px;
}

#container {
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    display: inline-block;
    padding: 25px 75px;
}

















